#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
    /* background-image: url('grass_day.png'); */
}
#scoreText{
    font-family: "Franklin Gothic Medium", cursive;
    font-size: 100px;
}
#resetBtn{
    font-family: "Franklin Gothic Medium", cursive;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
